.todo-title{
  font-size: 20px ;
  width: 400px;
  display: inline-block;

}
.todo-title.completed{
  text-decoration: line-through;
}

li{
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.save-btn{
    padding: 15px 30px;
    background-image: url("https://cdn.nba.com/logos/leagues/logo-nba.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.nba{
    position: fixed;
    bottom: 0;

}
